//Nunito
@font-face {
	font-family: 'Poppins';
	src: url('../../../fonts/Poppins-Regular.otf');
	src: local('Poppins Regular'), local('Poppins-Regular'),
		url('../../../fonts/Poppins-Regular.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('../../../fonts/Poppins-Bold.otf');
	src: local('Poppins Bold'), local('Poppins-Bold'),
		url('../../../fonts/Poppins-Bold.otf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
