// Poppins
@font-face {
	font-family: 'Poppins';
	src: url('../../../fonts/Poppins-Light.otf');
	src: url('../../../fonts/Poppins-Light.otf');
	src: local('Poppins Light'), local('Poppins-Light'),
		url('../../../fonts/Poppins-Light.otf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../../../fonts/Poppins-Regular.otf');
	src: local('Poppins'), local('Poppins-Regular'),
		url('../../../fonts/Poppins-Regular.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../../../fonts/Poppins-Medium.otf');
	src: local('Poppins Medium'), local('Poppins-Medium'),
		url('../../../fonts/Poppins-Medium.otf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../../../fonts/Poppins-Bold.otf');
	src: local('Poppins Bold'), local('Poppins-Medium'),
		url('../../../fonts/Poppins-Bold.otf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
